@model HardwareShop.Models.ViewModels.SubCategories.EditSubCategoryViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <div class="well">
        <h2>Edit Sub Category</h2>
        @using (Html.BeginForm("Edit", "SubCategory", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.SubCategoryId)

            <div class="form-group">
                @Html.LabelFor(m => m.CategoryId, "Category", new { @class = "col-sm-4 control-label" })
                <div class="dropdown col-sm-4">
                    @Html.DropDownListFor(m => m.CategoryId,
                        new SelectList(Model.Categories, "CategoryId", "Name"),
                        new { @class = "form-control col-sm-12" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Name, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Cancel", "List", "Category", null, new { @class = "btn btn-default" })
                    <input type="submit" value="Edit" class="btn btn-warning" />
                </div>
            </div>
        }
    </div>
</div>