@model HardwareShop.Models.ViewModels.Reviews.EditReviewViewModel

@{
    ViewBag.Title = "Edit";
}

<div class="container">
    <div class="well">
        <h2>Edit Review</h2>
        @using (Html.BeginForm("Edit", "Review", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(m => m.ReviewId)
            @Html.HiddenFor(m => m.ItemId)

            <div class="form-group span=8 offset=2">
                @Html.LabelFor(m => m.Content, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextAreaFor(m => m.Content, new { @class = "form-control", rows = "10" })
                </div>
            </div>

            <div class="form-group span=8 offset=2">
                @Html.LabelFor(m => m.Score, new { @class = "control-label col-sm-4" })
                <div class="col-sm-4">
                    @Html.TextBoxFor(m => m.Score, new { @type = "number", @class = "form-control", @readonly = "readonly" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-4">
                    @Html.ActionLink("Cancel", "Details", "Item", new { @itemId = Model.ItemId }, new { @class = "btn btn-default" })
                    <input type="submit" value="Edit" class="btn btn-warning" />
                </div>
            </div>
        }
    </div>
</div>
